@import url('popover.css');

.ios-arrow-left {
    display : block;
    position:absolute;
    z-index : 0;
    left:50px;
    top:50px;
    height:30px;
    width:auto;
    padding: 0 10px 0 6px;

    background-repeat:repeat-x;
    -webkit-background-size : 30px;
    background-position :0;
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );

    -webkit-border-radius: 5px;

    border-bottom: 1px solid rgba(255,255,255,0.4);

    -webkit-box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
        0 1px 2px rgba(0,0,0,0.8)inset;

    font-weight: bold;
    font-size : 12px;
    line-height : 30px;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
}

.ios-arrow-left:before{
    position:absolute;
    content : ' ';
    left:-8px;
    top:3.5px;
    height : 24px;
    width: 24px;
    z-index : 1;

    background-repeat:repeat-x;
    -webkit-background-size : 20px 20px;
    background-position :-1px -0.5px;
    background-image :
        -webkit-gradient(linear, left bottom, right top,
            from(rgba(0,0,0,0)),
            color-stop(0.5, rgba(0,0,0,0)),
            color-stop(0.5, rgba(255,255,255,0.1)),
            to(rgba(255,255,255,0.3)));


    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);

    -webkit-border-top-right-radius : 10px;
    -webkit-border-top-left-radius :0px;
    -webkit-border-bottom-right-radius : 0px;
    -webkit-border-bottom-left-radius : 10px;

    border-left : 1.5px solid rgba(255,255,255,0.4);

    box-shadow :  1px 1px 1px rgba(0,0,0,0.4) inset,
        -1px 1px 1px rgba(0,0,0,0.5) inset;

    -webkit-mask-image :
        -webkit-gradient(linear, left top, right bottom,
            from(#000000),
            color-stop(0.4,#000000),
            color-stop(0.5, transparent),
            to(transparent));
}
.ios-arrow-left,
.ios-arrow-left:before {
    background-color: rgba(74,108,155,1);/*hovercolor*/

}

.ios-arrow-left.over,
.ios-arrow-left.over:before {
    background-color: rgba(54,88,135,1);/*hovercolor*/

}