@import url('ios.css');

/**
 * styles.css
 * general stylesheet for the application
 */
html {
	overflow: hidden;
}

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: .625em;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #1c1c1b;
	-webkit-backface-visibility: hidden;
	-webkit-transform:translate3d(0,0,0);
	background-color: #f7f7f5;
}

.pictos {
	font-family: Pictos;
}

.animate {
	-webkit-transform:translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

	#page {
		min-height: 100%;
		min-width: 100%;
		position: relative;
		background-color: #f7f7f5;
	}

	/* Loading Screen */
	#loading {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		background-color: #1c1c1b;
	}

		#loading-text {
			color: #faf9f5;
			font-family: "Ostrich Sans";
			padding: 40px;
		}

		.landscape #loading-text {
			padding: 80px 0 40px 60px;
		}

		.portrait #loading-text {
			padding: 60px 0 40px 20px;
		}

			.landscape #loading-text .loading-text-header {
				height: 210px;
				padding-bottom: 20px;
			}

			.landscape #loading-text .left-stack {
				width: 160px;
				font-size: 10.4em;
				line-height: 90px;
				display: block;
				float: left;
				text-align: center;
			}

				.landscape #loading-text .left-stack .bigger {
					font-size: 1.5em;
					line-height: 132px;
				}

			.portrait #loading-text .left-stack {
				font-size: 25.2em;
				display: block;
				text-align: center;
				font-weight: 500;
				line-height: 220px;
			}

			.landscape #loading-text .loading-text-header .big-dashed {
				width: 720px;
				height: 210px;
				float: left;
				line-height: 245px;
				font-size: 31.5em;
				font-weight: 200;
				padding-left: 22px;
			}

			.portrait #loading-text .loading-text-header .big-dashed {
				font-size: 29.5em;
				font-weight: 200;
				display: block;
				text-align: center;
				line-height: 250px;
			}

		#loading-text .loading-text-subheader {
			height: 220px
			float: left;
			clear: both;
			padding-top: 30px;
		}

			#loading-text .loading-text-subheader .big-dashed {
				width: 135px;
				font-size: 30em;
				font-weight: 200;
				float: left;
				display: block;
				line-height: 240px
			}

			.portrait #loading-text .loading-text-subheader .big-dashed {
				width: 110px;
				font-size: 30em;
				font-weight: 200;
				float: left;
				display: block;
				line-height: 240px
			}

			#loading-text .loading-text-subheader .bold {
				font-size: 11.4em;
				font-weight: 800;
				float: left;
				display: block;
				width: 755px;
				padding-left: 25px;
			}

			.portrait #loading-text .loading-text-subheader .bold {
				width: 602px;
				font-size: 10.5em;
			}

		#loading-text .loading-text-enter-link {
			background: rgba(255,255,255,.75);
			position: absolute;
			right: 0px;
			color: #1c1c1b;
			text-align: right;
			padding: 25px 40px 15px 40px;
			-webkit-transform-origin: 0;
		}

		.landscape #loading-text .loading-text-enter-link {
			width: 200px;
			font-size: 4em;
			bottom: 60px;
			line-height: 44px;
		}

		.portrait #loading-text .loading-text-enter-link {
			width: 230px;
			font-size: 4.8em;
			bottom: 65px;
		}

		#loading-text .loading-text-enter-link .pictos {
			padding-right: 15px;
		}